{% extends 'main/base.html' %}
{% block head %}{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center w-full h-full e">
  <div class="flex justify-between items-center w-full h-[30em] border">
    <!-- User details -->
    <div class="">
      <img src="/static/yeshi-kangrang.jpg" alt="">
    </div>
    <div class="">
      <!-- User options -->
    </div>
  </div>
  <!-- overview -->
  <div class=""></div>
  <div class=""></div>
</div>
{% endblock %}
{% block templates %}{% endblock %}
{% block scripts %}{% endblock %}
