{% extends "base.html" %}
{% from "components/product.html" import Product %}
{% block title %}Market{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="flex flex-col justify-start items-center w-full h-[84vh]">
  <div class="flex flex-row justify-start items-center w-full h-20 text-white overflow-x-scroll scrollbar-hide">
    <div class="flex justify-center items-center my-auto mx-4 py-2 px-5 border border-white-500 rounded-full">
      <p>Hello</p>
    </div>
    <div class="flex justify-center items-center my-auto mx-4 py-2 px-5 border border-white rounded-full">Hello</div>
    <div class="flex justify-center items-center my-auto mx-4 py-2 px-5 border border-white rounded-full">Hello</div>
    <div class="flex justify-center items-center my-auto mx-4 py-2 px-5 border border-white rounded-full">Hello</div>
    <div class="flex justify-center items-center my-auto mx-4 py-2 px-5 border border-white rounded-full">Hello</div>
  </div>

  <div class="flex flex-col justify-start items-center h-[90%] w-full my-auto px-6 overflow-y-scroll scrollbar-hide">
    {{ Product("product") }}
    {{ Product("product") }}
    {{ Product("product") }}
    {{ Product("product") }}
    {{ Product("product") }}
    {{ Product("product") }}
    {{ Product("product") }}
  </div>
</div>
{% endblock %}
