<div class="flex flex-col justify-end items-center w-screen h-screen relative z-20">
  <div class="w-full h-full absolute bg-gray-100 dark:bg-gray-100"></div>
  <div class="flex flex-col justify-end items-center w-full max-h-[50%] absolute bottom-0 divide-y dark:divide-gray-600">
    <h2>Create Post</h2>
    <div class="flex flex-row justify-start items-center" id="editor"></div>
    <div class="flex flex-row justify-start items-center w-full h-20 overflow-x-scroll scrollbar-hide">
      
    </div>
  </div>
</div>
