{% macro Product(id, images) %}
  <div class="p-6 max-w-xl w-full rounded-lg shadow-lg">
    <div class="w-full overflow-hidden relative rounded">
      <!-- Slideshow container -->
      <div class="flex transition-transform duration-500 ease-in-out" id="{{ id }}">
        {% for image in images %}
        <!-- Slide -->
        <div class="w-full flex-shrink-0">
          <img src="{{ image }}" alt="Slide" class="w-full">
        </div>
        {% endfor %}
      </div>

      <!-- Navigation buttons -->
      <button class="absolute top-1/2 left-0 transform -translate-y-1/2 text-white text-3xl bg-gray-800 bg-opacity-50 hover:bg-opacity-75 rounded-full" onclick="prevSlide('{{ id }}')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
      <button class="absolute top-1/2 right-0 transform -translate-y-1/2 text-white text-3xl bg-gray-800 bg-opacity-50 hover:bg-opacity-75 rounded-full" onclick="nextSlide('{{ id }}')">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
          <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
     </button>
    </div>
  </div>

  <script>
    const {{id}}slideshows = {};

    function initSlideshow(id) {
      const slideshow = document.getElementById(id);
      const slides = slideshow.children.length;
      {{id}}slideshows[id] = { element: slideshow, slides: slides, index: 0 };
    }

    function showSlide(id, index) {
      const slideshow = {{id}}slideshows[id];
      slideshow.index = index;
      slideshow.element.style.transform = `translateX(${-index * 100}%)`;
    }

    function prevSlide(id) {
      const slideshow = {{id}}slideshows[id];
      const newIndex = (slideshow.index > 0) ? slideshow.index - 1 : slideshow.slides - 1;
      showSlide(id, newIndex);
    }

    function nextSlide(id) {
      const slideshow = {{id}}slideshows[id];
      const newIndex = (slideshow.index < slideshow.slides - 1) ? slideshow.index + 1 : 0;
      showSlide(id, newIndex);
    }

    document.addEventListener("DOMContentLoaded", function() {
      {% for image in images %}
        initSlideshow("{{ id }}");
      {% endfor %}
    });
  </script>
{% endmacro %}
