<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/output.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body class="flex-1 bg-sky-950 text-black w-full h-full">
    {% block content %}
    {% endblock %}
    <div class="flex justify-center item-center w-full h-20">
      <div class="flex flex-col justify-center items-center h-full w-4/12 border-red-200">
        <h4>Home</h4>
      </div>
      <div class="flex flex-col justify-center items-center h-full w-4/12 border-red-200">
        <h4>Home</h4>
      </div>
    </div>
  </body>
</html>
