{% from "components/tabs.html" import BottomTab %}
{% from "components/status.html" import StatusBar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/output.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body class="flex flex-col justify-center items-center bg-gray-50 dark:bg-gray-900 text-black w-full h-[100vh] scrollbar-hide relative">
    {{ StatusBar() }}
    <div class="flex flex-col justify-center items-center w-full h-[84vh] m-auto fixed">
    {% block content %}{% endblock %}
    </div>
    {{ BottomTab() }}
    {% block footer %}{% endblock %}
  </body>
</html>
