{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="flex-1 w-full h-full p-4">
  <div class="flex-1 flex-col justify-center items-center border-red-50 w-full h-">
    <!-- Product Card -->
    <div class="flex-3">
      <img src="/static/media/img.jpg" alt="">
    </div>
    <div class="">
      <h4>Sleepover at Polly Pocket's Compact</h4>
      <p class="">Hosted by Polly Pocket</p>
      <p class="">
        <h5>$89</h5>
        <p class="">per guest</p>
      </p>
    </div>
  </div>
</div>
{% endblock %}
