{% extends "base.html" %}
{% from "components/post.html" import Post %}
{% from "components/post-template.html" import PostTemplate %}
{% from "components/create-post-template.html" import CreatePostTemplate %}

{% block title %}Home{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center w-full h-[84vh] m-auto relative">

</div>
{% endblock %}

{% block templates %}
{{ PostTemplate() }}
{% endblock %}

{% block scripts %}
<!-- <script src="/static/scripts/create-post.js"></script> -->
<script src="/static/scripts/post-card.js"></script>
<script src="/static/scripts/index.js"></script>
{% endblock %}
