{% extends "base.html" %}
{% from "components/post.html" import Post %}
{% from "components/post-template.html" import PostTemplate %}
{% from "components/create-post-template.html" import CreatePostTemplate %}

{% block title %}Home{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center w-full h-[84vh] m-auto relative">
  <div id="feed-tray" class="flex flex-col justify-start items-center h-[100%] w-full my-auto overflow-y-scroll scrollbar-hide divide-y dark:divide-y dark:divide-gray-600">
    {% for i in range(10) %}
      {{ Post() }}
    {% endfor %}
  </div>

  <!-- Creste Post Component -->
  <div id="toggle-create-modal" class="flex flex-col justify-center items-center w-16 h-16 mx-4 rounded-full cursor-pointer bg-white text-gray-900 border border-gray-900 dark:bg-gray-900 dark:border-gray-600 dark:text-white absolute z-10 bottom-10 right-4">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
    </svg>
  </div>
  <create-post open="false"></create-post>
</div>
{% endblock %}

{% block templates %}
{{ PostTemplate() }}
{{ CreatePostTemplate() }}
{% endblock %}

{% block scripts %}
<!-- <script src="/static/scripts/create-post.js"></script> -->
<script src="/static/scripts/post-card.js"></script>
<script src="/static/scripts/index.js"></script>
{% endblock %}
