{% macro NewTripModal(trip_status) %}
<template id="trip-form-template">
  <div 
    id="form-root"
    class="flex flex-col justify-end items-center relative">
    <link rel="stylesheet" href="admin/static/css/output.css">
    <div
      id="new-trip-btn"
      class="btn btn-lg btn-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
        New
    </div>

    <div
      id="form-modal"
      class="hidden flex-col justify-center items-center w-screen h-dvh absolute top-0 bottom-0 z-10">
      <div
        id="modal-backdrop"
        class="h-full w-full top-0 bottom-0 bg-neutral-950/80"></div>

      <div class="flex flex-col justify-around items-center w-full h-119 p-6 gap-4 absolute z-20 bottom-0 bg-base-100 rounded-t-3xl divide-y dark:divide-y dark:divide-neutral-600 dark:border-red-600 dark:bg-white-900">

        <div class="flex justify-center items-center w-full py-4 shadow-sm">
          <h2 class="font-bold text-2xl">Create Trip</h2>
        </div>

        <div class="grid grid-cols-2 grid-rows-3 w-full h-4/5 gap-6">

          <div class="flex justify-center items-center w-full">
            <label class="input h-2/3 rounded-lg">
              <span class="label">Date</span>
              <input
                id="date-field"
                type="datetime-local"
                name="date"
                placeholder="Date"
              />
            </label>
          </div>
      
          <div class="flex justify-center items-center w-full">
            <label class="input h-2/3 rounded-lg">
              <span class="label">Destination</span>
              <input
                id="destination-field"
                type="text"
                name="destination"
              />
            </label>
          </div>
      
          <div class="flex justify-center items-center w-full">
            <label class="input h-2/3 rounded-lg">
              <span class="label">Capacity</span>
              <input
                id="capacity-field"
                type="number"
                name="capacity"
              />
          </div>

          <div class="flex justify-center items-center w-full">
            <label class="select h-2/3 rounded-lg">
              <span class="label">Status</span>
              <select
                id="status-field"
                name="status">
                <option value="{{trip_status.PENDING.value}}">{{trip_status.PENDING.name}}</option>
                <option value="{{trip_status.ACTIVE.value}}">{{trip_status.ACTIVE.name}}</option>
              </select>
              </label>    
          </div>

          <button
            onclick="submitNewTrip(event)"
            class="col-span-2 btn btn-xl btn-primary rounded-lg" 
            type="submit">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>
{% endmacro %}
